<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!--&lt;!&ndash; this is header-css &ndash;&gt;-->
        <!--<link rel="stylesheet" type="text/css"-->
        <!--href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->
        <title>Spring Boot Web Scraper</title>

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
              media="screen" type="text/css"/>

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                type="text/javascript"></script>

        <link th:href="@{/css/main.css}" type="text/css"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">Home</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar">
                <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a th:href="@{/home}">Home</a></li>-->
                <!--</ul>-->
                <!-- show registration only if user is not yet authenticated -->
                <ul class="nav navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="active"><a th:href="@{/registration}">Registration</a></li>
                </ul>
                <!-- show login only if user is not yet authenticated -->
                <ul class="nav navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="active"><a th:href="@{/login}">Login</a></li>
                </ul>
                <!-- show My Web Scraper only if user is authenticated -->
                <ul class="nav navbar-nav" sec:authorize="hasRole('USER')">
                    <li class="active"><a th:href="@{'/links/' + ${#authentication.getName()}}">My Links</a></li>
                </ul>
                <!-- show new post only if user is authenticated -->
                <ul class="nav navbar-nav" sec:authorize="hasRole('USER')">
                    <li class="active"><a th:href="@{/newLink}">New Link</a></li>
                </ul>
                <!-- show sign out only if user is authenticated -->
                <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="active"><a th:href="@{/logout}">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>